<p id="notice"><%= notice %></p>

<h2>Blog</h2>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <div class="cards">
    <% @articles.each do |article| %>
      <div>
       <h3> <%= link_to article.title, article %> </h3>
       <%= article.rich_body %>
      </div>
        <% if user_signed_in? %>
          <%= link_to 'Edytuj', edit_article_path(article), class: "btn" %>
          <%= link_to 'Usuń', article, method: :delete, data: { confirm: 'Na pewno?' }, class: "btn" %>
        <% end %>
    
    <% end %>
  </div>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to 'Nowy artykuł', new_article_path %>
<% end %>