<p id="notice"><%= notice %></p>
<h4> <%= @article.title %> </h4>
<p class="text"><%= @article.rich_body %></p>
<%= link_to 'Edytuj', edit_article_path(@article) %> |
<%= link_to 'Wróć', articles_path %>
