<p id="notice"><%= notice %></p>

<p class="text-center"><small><%= @article.created_at.strftime("%d/%m/%Y") %></small></p>

<h3 class="text-center "><%= @article.title %></h3>

<div class="cover text-center">
  <% if @article.cover.attached? %>
    <%= cl_image_tag @article.cover.key, height: 400, crop: :fill %>
  <% end %>
</div>
<p class="text text-center"><%= @article.rich_body %> </p>
<div class="share-links">
  <p class="text"><small>Podziel się:</small><br><br></p>
 <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v10.0" nonce="lS7pqvWt">
    const fbButton = document.querySelector('.fb-share-button')
    fbButton.addEventListener("click", (event) => {
      event.currentTarget.data-layout.value = window.location.href;
     });
  </script>
  <div class="fb-share-button" data-href="" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Udostępnij</a></div>
  <%= twitter_button %>
  <%= linkedin_button %>
 <script language="javascript">
        function emailCurrentPage(){
            window.location.href="mailto:?subject="+document.title+"&body="+escape(window.location.href);
        }
    </script>
    <a href="javascript:emailCurrentPage()"><i style="font-size:22px;"class="fas fa-envelope-square"></i></a>
</div>
<% if user_signed_in? %>
<div>
  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= link_to 'Back', articles_path %>
</div>
<% end %>