<div class="main-container">
    <div class="left header">
        <h2>Dlaczego warto mi zaufać?</h2>
    </div>

    <div class="right">
        <div class="text-left">
        <h4>Mogę zapewnić, że moje teksty są:</h4>
        <br>
            <div class="fade-in card-body text"><p><i class="fas fa-pen-nib"></i><strong> oryginalne </strong>, ponieważ nie stosuję utartych sloganów</p> </div>
            <div class="fade-in card-body text"><p><i class="fas fa-pen-nib"></i><strong> interesujące</strong> i <strong>lekkie w odbiorze</strong> - dowodzą tego opinie moich Klientów</p> </div>
            <div class="fade-in card-body text"><p><i class="fas fa-pen-nib"></i><strong> poprawne </strong> pod względem stylistycznym, gramatycznym i interpunkcyjnym</p> </div>
     
        </div>
        <br><br>
            <p class= "fade-in">Inni o mnie:</p>
            <% @testimonials.each do |testimonial| %>
            <div class="quote fade-in m-3" style="width:90%;">
                <div style="display:flex; width:100%;">
                    <i class="fas fa-quote-left"></i><p class="text text-center mx-2" style="width:100%"><em><%= testimonial.content %> </em></p> <i class="fas fa-quote-right"></i>
                </div> 
                <% if user_signed_in? %>
                    <div class="text-right">
                        <small><%= link_to "Usuń", testimonial_path(testimonial), method: :delete %></small>
                        <small><%= link_to "Edytuj", edit_testimonial_path(testimonial) %></small>
                    </div>
                <% end %>
                <p class="text-center text"> ~ <%= testimonial.author if testimonial.author? %>
                    <% if testimonial.company? && testimonial.link? %>
                        - <%= link_to testimonial.company, testimonial.link %>
                    <% elsif testimonial.company? %>
                        - <%= testimonial.company %>
                    <% end %>
                </p>
            </div>
            <%end%>

    </div>
</div>