<%= simple_form_for @contact do |f| %>
    <% if flash[:error].present? %>
        <p> flash[:error]</p>
    <% end %>
    <div class="form-inputs">
         <%= f.input :name, required: true, label: "Imię i nazwisko" %>
    </div>
    <div class="form-inputs">
        <%= f.input :email, required: true  %>
    </div>
    <div class="d-none">
        <%= f.input :nickname %>
    </div>
    <div class="form-inputs">
        <%= f.input :message, as: :text, label: "Wiadomość" %>
    </div>
    <div class="form-actions">
        <%= f.submit 'Wyślij wiadomość', class: "btn btn-primary" %>
    </div>
  <% end %>